[submodule "applications/fenster"]
	path = applications/fenster
	url = https://github.com/neonix-bmx/fenster
[submodule "applications/ghmwm"]
	path = applications/ghmwm
	url = https://github.com/neonix-bmx/ghmwm
[submodule "kernel"]
	path = kernel
	url = https://github.com/berrycomp/hxnu.git
[submodule "applications/drivers"]
	path = applications/drivers
	url = /mnt/KINGSTON/Berturk/Projects/hxnu-drivers
